@{
    ViewData["Title"] = "Home Page";
}

<!-- Carousel -->
<section id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        @for (int i = 0; i < ViewBag.news.Count; i++)
        {
            var active = i == 0 ? "active" : "";
            <button type="button" data-bs-target="#demo" data-bs-slide-to="@i" class="@active"></button>
        }
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        @{
            var first = true;
        }
        @foreach (var item in ViewBag.news)
        {
            var active = first ? "active" : "";
            first = false;

            <div class="carousel-item @active">
                <div class="row">
                    <div class="col-md-4">
                        <div class="image">

                            <img src="@item.image" alt="Los Angeles" class="d-block w-100">

                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="details">

                            <h3>@item.title</h3>
                            <p class="release">Realeas data: @item.releaseState</p>
                            <p class="genres">Genres: @item.genres</p>

                        </div>
                    </div>
                </div>
            </div>

        }
    </div>

</section>

@if (ViewBag.LastWatch != null)
{

    <section id="last_watch">
        <div class="row">
            <div class="col-md-12">
                <h2>Last watched</h2>
            </div>

            @foreach (var item in ViewBag.LastWatch)
            {

                <div class="col-md-3">
                    <div class="card" style="background-image: url('@item.ImageUrl')">

                        <div class="data">
                            <p class="title">@item.Title</p>

                            <div class="buttons">
                                <a asp-action="Details" asp-route-id="@item.id" asp-area=""
                                    asp-controller="MyWatchList">Continue</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>

}