@model IEnumerable<Watchlist.Models.ResultsModel>

@{
    ViewData["Title"] = "Index";
}

<div class="title">
    <h1>Search results for: @ViewBag.SomeProperty</h1>
</div>

<div class="row" id="card">


    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card" style="background-image: url('@Html.DisplayFor(modelItem => item.image)')">

                <div class="data">
                    <p class="title">@Html.DisplayFor(modelItem => item.title)</p>
                    <p class="description">@Html.DisplayFor(modelItem => item.description)</p>

                    <div class="buttons">
                        <a asp-action="Details" asp-route-id="@item.id">Details</a>

                        <form asp-action="Index">
                            <input type="hidden" name="id" value="@item.id" />
                            <input type="hidden" name="Title" value="@item.title" />
                            <input type="hidden" name="ImageUrl" value="@item.image" />
                            <input type="hidden" name="Status" value="0" />
                            <button>
                                <img src="~/img/eye.svg" alt="Add to watch list" />
                            </button>
                            @* <input type="submit" value="Add to watch list" class="btn" /> *@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
